@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .sm-show-calendar-container {
    @apply absolute -translate-y-11 left-1/2 -translate-x-1/2 z-40;
  }

  .sm-scoreboard-container {
    @apply z-10 overflow-auto;
  }

  .sm-scoreboard-container-flex {
    @apply flex size-full h-24 z-10 overflow-auto;
  }

  .sm-popup-calendar-container {
    @apply fixed inset-0 z-50 my-48 flex justify-center;
  }

  .sm-boxscore-container {
    @apply z-10;
  }

}

@layer utilities {
  .marquee-content {
    animation-play-state: paused;
  }

  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-200%);
    }
  }

  .animate-marquee {
    animation: marquee 40s linear infinite;
  }
}